
[submodule "mercadolibre-challenge-backend"]
	path = backend
	url = https://github.com/Metalisaac321/mercadolibre-challenge-backend

[submodule "mercadolibre-challenge-frontend"]
	path = frontend
	url = https://github.com/Metalisaac321/mercadolibre-challenge-frontend