
[submodule "mercadolibre-challenge-backend"]
	path = mercadolibre-challenge-backend
	url = https://github.com/Metalisaac321/mercadolibre-challenge-backend

[submodule "mercadolibre-challenge-frontend"]
	path = mercadolibre-challenge-frontend
	url = https://github.com/Metalisaac321/mercadolibre-challenge-frontend